<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7de0a8">  <td>15/03/23 17:37:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SendMailDemoTest.loginToAccount()[pri:0, instance:com.epam.gomel.tat.lesson_6.test.SendMailDemoTest@7b2f2476]">&gt;&gt;loginToAccount</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@911703046</td>   <td></td> </tr>
<tr bgcolor="7de0a8">  <td>15/03/23 17:38:12</td>   <td>45467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailDemoTest.sendMail()[pri:0, instance:com.epam.gomel.tat.lesson_6.test.SendMailDemoTest@7b2f2476]">sendMail</td> 
  <td>main@911703046</td>   <td></td> </tr>
</table>
